h1 Welcome to Nuwe

p Your email address was recently used to sign up for Nuwe. Nuwe is a digital wellness system that learns from you. With Nuwe, you’re in charge of your life.

p To get started, please confirm your email.

p.margin = link_to "Confirm my email", confirm_url(@user.id, @user.confirm_email_token), class: "button"
