h1 Nuwe password reset

p Someone, possibly you, has requested a password change for your account. To proceed with the password change, click the button below:

p.margin = link_to "reset your password", @reset_password_url, class: "button"

p If you do not click the button, your password will be left unchanged. If you have any question with regards to your account, please reply to this message to get in touch with us.
