---
http_interactions:
- request:
    method: get
    uri: http://api.v3.factual.com/t/products-cpg-nutrition?filters=%7B%22product_name%22:%7B%22$search%22:%22tofu%22%7D%7D&limit=20&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Factual-Lib:
      - factual-ruby-driver-v1.3.17
      Authorization:
      - OAuth oauth_consumer_key="8eiaMBswadqct74qXkT3gNmnF9M5NK2OoEfJeolC", oauth_nonce="GJOQdV9yt7lqLebELRAAG4zjvZKOrSUXKrRScDc8xpE",
        oauth_signature="AgUIR3q8kCd9XjB%2BI7ryvr6bfUY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433240410", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Factual-Throttle-Allocation:
      - '{"expensive":"0%","burst":"0%","daily":"4%"}'
    body:
      encoding: UTF-8
      string: '{"version":3,"status":"ok","response":{"data":[{"avg_price":6.64,"brand":"Amy''s","calcium":20,"calories":380,"category":"Frozen
        Foods","cholesterol":15,"dietary_fiber":7,"ean13":"0042272000562","factual_id":"21ef04ed-401b-4536-8c84-960241350c1c","fat_calories":150,"image_urls":["http://media.shopwell.com/gladson/00042272000562_full.jpg","http://www.acmemarkets.com/pd/Content/themes/0EF1315/images/applogo.png"],"ingredients":["Organic
        Black Beans","Organic Tofu","Filtered Water","Organic Soybeans","Nigari","Magnesium
        Chloride","A Natural Firming Agent","Organic Roasted Potatoes","Organic Onions","Organic
        Green Bell Peppers","Organic Corn Tortilla (Organic White Corn Cooked In Water
        With A Trace Of Lime)","Monterey Jack Cheese","Organic Tomatoes","Organic
        Extra Virgin Oil","Organic Corn","Grade Aa Butter","Organic Tomato Puree","Sea
        Salt","Organic Garlic","Spices","Organic Cornstarch","Organic Green Chiles","Organic
        High Oleic Safflower","Sunflower Oil","Nutritional Yeast","Organic Japapeno
        Peppers"],"iron":20,"potassium":0,"product_name":"Tofu Rancheros With Roasted
        Potatoes","protein":21,"sat_fat":5,"serving_size":"1 entr","servings":1,"size":["9
        oz"],"sodium":580,"sugars":5,"total_carb":37,"total_fat":17,"trans_fat":0,"upc":"042272000562","vitamin_a":10,"vitamin_c":30},{"avg_price":22.9,"brand":"Alber
        & Leff","calcium":10,"calories":20,"category":"Meat Alternatives","cholesterol":0,"dietary_fiber":2,"ean13":"0076371041188","factual_id":"187172a4-dc41-4d0a-92dc-9ed134e46259","fat_calories":5,"image_urls":["http://media.itemmaster.com:80///0/0/0/303/41f74311-4c59-4c37-a14a-9914631ade5f.jpg?originalFormat=png","http://media.itemmaster.com:80///0/0/0/303/9e6f9a39-90b6-453c-a0b5-13a79933d858.jpg?originalFormat=tif&tkn=914dad50-013c-11e4-acaa-005056ab571e&resize=600x600","http://media.shopwell.com/gladson/00076371041188_full.jpg"],"ingredients":["Water","Soybeans","Calcium
        Sulfate","Glucono Delta Lactone","Yam Flour","Calcium Hydroxide"],"iron":2,"monounsat_fat":0,"polyunsat_fat":0,"potassium":0,"product_name":"House
        Tofu Shirataki Macaroni","protein":1,"sat_fat":0,"serving_size":"4 oz (113
        g)","servings":2,"size":["8 oz"],"sodium":15,"sugars":0,"total_carb":3,"total_fat":0.5,"trans_fat":0,"upc":"076371041188","vitamin_a":0,"vitamin_c":2},{"avg_price":9.5,"brand":"Mori
        Nu","calcium":2,"calories":50,"category":"Meat Alternatives","cholesterol":0,"dietary_fiber":0,"ean13":"0085696608044","factual_id":"02f69ef9-4465-46d7-a704-09d992cc27a5","fat_calor[...]
[...]
