---
http_interactions:
- request:
    method: get
    uri: http://api.v3.factual.com/t/places?filters=%7B%22category_ids%22:%7B%22$includes_any%22:%5B149,150,151,152,153,154,155,156,443,169,171,230,231,232,312,313,314,315,316,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,463,338,369,370,430%5D%7D%7D&geo=%7B%22$circle%22:%7B%22$center%22:%5B%2234.06018%22,%22-118.41835%22%5D,%22$meters%22:5000%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Factual-Lib:
      - factual-ruby-driver-v1.3.16
      Authorization:
      - OAuth oauth_consumer_key="8eiaMBswadqct74qXkT3gNmnF9M5NK2OoEfJeolC", oauth_nonce="t16gqZQhVoHUjhBkLlgi4FJeJT5sO43rPgpcdeDQOk",
        oauth_signature="yZ4QSZU35%2BPM6IsRVp0xZgpVzQ4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1415370509", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Factual-Throttle-Allocation:
      - '{"expensive":"0%","burst":"0%","daily":"0%"}'
    body:
      encoding: UTF-8
      string: '{"version":3,"status":"ok","response":{"data":[{"address":"10250 Santa
        Monica Blvd","address_extended":"Ste 140","category_ids":[171],"category_labels":[["Retail","Supermarkets
        and Groceries"]],"country":"us","factual_id":"2044f105-ffc4-461f-b3e0-29fc7102a0e3","hours":{"monday":[["7:00","23:00"]],"tuesday":[["7:00","23:00"]],"wednesday":[["7:00","23:00"]],"thursday":[["7:00","23:00"]],"friday":[["7:00","23:00"]],"saturday":[["7:00","23:00"]],"sunday":[["7:00","23:00"]]},"hours_display":"Open
        Daily 7:00 AM-11:00 PM","latitude":34.057885,"locality":"Los Angeles","longitude":-118.418852,"name":"Gelson''s
        Market","neighborhood":["Century City","Westside Village","West LA"],"postcode":"90067","region":"CA","tel":"(310)
        277-4288","website":"http://gelsons.com","$distance":259.34897},{"address":"10250
        Santa Monica Blvd","category_ids":[352],"category_labels":[["Social","Food
        and Dining","Restaurants","Chinese"]],"country":"us","factual_id":"59888690-43a9-4b68-a391-48c3fdd79583","hours":{"monday":[["11:30","21:30"]],"tuesday":[["11:30","21:30"]],"wednesday":[["11:30","21:30"]],"thursday":[["11:30","21:30"]],"friday":[["11:30","22:30"]],"saturday":[["11:30","22:30"]],"sunday":[["11:30","21:30"]]},"hours_display":"Mon-Thu
        11:30 AM-9:30 PM; Fri-Sat 11:30 AM-10:30 PM; Sun 11:30 AM-9:30 PM","latitude":34.058636,"locality":"Los
        Angeles","longitude":-118.41916,"name":"Meizhou Dongpo","neighborhood":["Century
        City","Westside Village","West LA","los angeles"],"postcode":"90067","region":"CA","tel":"(310)
        788-0120","website":"http://www.meizhou.com.cn/","$distance":187.19931},{"address":"9876
        Wilshire Blvd","category_ids":[436,107],"category_labels":[["Travel","Lodging","Hotels
        and Motels"],["Landmarks"]],"country":"us","factual_id":"692ed006-b4d0-4084-9f9c-2b2aefcdd75f","fax":"(310)
        285-1313","hours":{"monday":[["00:00","23:59"]],"tuesday":[["00:00","23:59"]],"wednesday":[["00:00","23:59"]],"thursday":[["00:00","23:59"]],"friday":[["00:00","23:59"]],"saturday":[["00:00","23:59"]],"sunday":[["00:00","23:59"]]},"hours_display":"Open
        Daily 12:00 AM-11:59 PM","latitude":34.066512,"locality":"Beverly Hills","longitude":-118.413099,"name":"The
        Beverly Hilton","neighborhood":["Golden Triangle","Beverly Hills/Bel-Air","Century
        City","Westside Village","Chinatown","West LA","West Los Angeles","Central
        LA"],"postcode":"90210","region":"CA","tel":"(310) 274-7777","website":"http://www3.hilton.com/en/hotels/california/the-beverly-hilton-LAXBHHH/index.html","$distance":854.2284},{"address":"10250
        Santa Monica Blvd","category_ids":[169],"category_labels":[["Retail","Shopping
        Centers and Malls"]],"country":"us","email":"centurycity@westfield.com","factual_id":"4f8dd5a4-7f3c-45f9-92fc-b58dadbea0d1","hours":{"monday":[["10:00","21:00"]],"tuesday":[["10:00","21:00"]],"wednesday":[["10:00","21:00"]],"thursday":[["10:00","21:00"]],"friday":[["10:00","21:00"]],"saturday":[["10:00","21:00"]],"sunday":[["12:00","19:00"]]},"hours_display":"Mon-Sat
        10:00 AM-9:00 PM; Sun 12:00 PM-7:00 PM","latitude":34.058563,"locality":"Los
        Angeles","longitude":-118.419261,"name":"Westfield Century City","neighborhood":[[...]
