---
http_interactions:
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/bmi/readings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1275436691"'
      Link:
      - <https://api.humanapi.co/v1/human/bmi/readings?offset=50>; rel="next",<https://api.humanapi.co/v1/human/bmi/readings?offset=400>;
        rel="last"
      X-Total-Count:
      - '432'
    body:
      encoding: UTF-8
      string: '[{"id":"53cfcb674f2a8c505c05100d","userId":"52e20cb2fff56aac62000001","timestamp":"2014-07-18T23:59:59.000Z","value":26.19,"unit":"kg/m2","source":"fitbit","createdAt":"2014-07-23T14:49:11.891Z","updatedAt":"2014-07-23T14:49:11.891Z"},{"id":"53cfcb674f2a8c505c05100b","userId":"52e20cb2fff56aac62000001","timestamp":"2014-07-17T23:59:59.000Z","value":26.06,"unit":"kg/m2","source":"fitbit","createdAt":"2014-07-23T14:49:11.891Z","updatedAt":"2014-07-23T14:49:11.891Z"},{"id":"53c7e942705432da32f6d7b1","userId":"52e20cb2fff56aac62000001","timestamp":"2014-07-17T07:51:25.000Z","value":22.48,"unit":"kg/m2","source":"fitbit","createdAt":"2014-07-17T15:18:26.465Z","updatedAt":"2014-07-17T15:18:26.465Z"},{"id[...]
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/weight/readings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1974857827"'
      Link:
      - <https://api.humanapi.co/v1/human/weight/readings?offset=50>; rel="next",<https://api.humanapi.co/v1/human/weight/readings?[...]
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/height/readings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1128371566"'
      Link:
      - <https://api.humanapi.co/v1/human/height/readings?offset=50>; rel="next",<https://api.humanapi.co/v1/human/height/readings?[...]
- request:
    method: get
    uri: https://api.humanapi.co/v1/human/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer demo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1858769109"'
      Link:
      - <https://api.humanapi.co/v1/human/activities?offset=50>; rel="next",<https://api.humanapi.co/v1/human/activities?offset=6950>;
        rel="last"
      X-Total-Count:
      - '6994'
    body:
      encoding: UTF-8
      string: '[{"id":"53d636d6da92cffe3fce8c96","userId":"52e20cb2fff56aac62000001","startTime":"2014-07-28T10:30:48.000Z","endTime":"2014-07-28T10:42:18.000Z","type":"walking","source":"moves","duration":690,"distance":786,"steps":1047,"calories":0,"sourceData":{"manual":false},"createdAt":"2014-07-28T11:41:10.699Z","updatedAt":"2014-07-28T11:41:10.699Z"},{"id":"53d636d6da92cffe3fce8c99","userId":"52e20cb2fff56aac62000001","startTime":"2014-07-28T10:12:01.000Z","endTime":"2014-07-28T10:28:57.000Z","type":"walking","source":"moves","duration":1016,"distance":635,"steps":1215,"calories":0,"sourceData":{"manual":false},"createdAt":"2014-07-28T11:41:10.710Z","updatedAt":"2014-07-28T11:41:10.710Z"},{"id":"53d61d02da92cffe3fce8b5c","userId":"52e20cb2fff56aac62000001","startTime":"2014-07-28T09:34:28.000Z","endTime":"2014-07-28T09:35:58.000Z","type":"walking","source":"moves","duration":90,"distance":45,"steps":70,"calories":0,"sourceData":{"manual":false},"createdAt":"2014-07-28T09:50:58.855Z","updatedAt":"2014-07-28T09:50:58.855Z"},{"id":"53d62ffd8a98b1c4052be5ae","userId":"52e20cb2fff56aac62000001","startTime":"2014-07-28T09:29:28.000Z","endTime":"2014-07-28T10:27:39.000Z","type":"cycling","source":"strava","duration":3491,"distance":10767.6,"steps":0,"calories":0,"sourceData":{"maxHeartrate":174,"averageHeartrate":134.6,"maxSpeed":14.6,"mapId":"a172007256","movingTime":2213,"type":"Ride"},"createdAt":"2014-07-28T11:11:57.258Z","updatedAt":"2014-07-28T11:11:57.258Z"},{"id":"53d60d4a3c7f284f4023ba1b","userId":"52e20cb2fff56aac62000001","startTime":"2014-07-28T08:03:20.000Z","endTime":"2014-07-28T08:07:21.000Z","type":"walking","source":"moves","duration":241,"distance":297,"steps":396,"calories":0,"sourceData":{"manual":false},"createdAt":"2014-07-28T08:43:54.693Z","updatedAt":"2014-07-28T08:43:54.693Z"},{"id":"53d615283c7f284f4023bc18","userId":"52e20cb2fff56aa[...]
