---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/75436/events?auth_key=a2c6d985d6da1189566f&auth_signature=df320d5762c4e8a5e5badb3e850e8c13da0a76545e6348ceed9cb3e7e7112951&auth_timestamp=1400582260&auth_version=1.0&body_md5=9ddabf191e424fa45ba25c2f1eff98c9
    body:
      encoding: UTF-8
      string: '{"name":"profile-update","channels":["nuwellness"],"data":"{\"updated_at\":\"2014-05-20T10:37:40.210Z\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 20 May 2014 10:37:40 GMT
recorded_with: VCR 2.9.0
