// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

$color-blue: #4bacf1;
$color-green: #289c78;
$color-orange: #fa812a;
$color-pink: #c74ef1;

$color-grey-black: #b3b3b3;
$color-grey-regular: #eeeeee;
$color-grey-light: #f9f9f9;

$color-white: #ffffff;

// fonts 

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

// Grid

$grid-margin: 20px;

// Icons

$dark-icon-color: $color-grey-black;
$active-icon-color: $color-blue;