---
http_interactions:
- request:
    method: get
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5f816dd4862f97bacb5348baa4b6e721"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3595'
    body:
      encoding: UTF-8
      string: '{"response":[{"uid":"7336dffa97ab40c00f156189bd4e206c","comments":"Initial
        Commit","changed_by":"tech@nuwe.co","created_at_iso":"2016-02-03T14:54:46Z","updated_at_iso":"2016-02-03T14:54:46Z"},{"uid":"8f9b7863212bdfa0190123f96ff00b9f","comments":"Adds
        parse service 143 to run on port 1338","changed_by":"tech@nuwe.co","created_at_iso":"2016-02-08T13:06:03Z","updated_at_iso":"2016-02-08T13:06:03Z"},{"uid":"d1b42b35902cb5187aa7e757c36632e9","comments":"port
        setup","changed_by":"tech@nuwe.co","created_at_iso":"2016-02-08T13:50:05Z","updated_at_iso":"2016-02-08T13:50:05Z"},{"uid":"9d0dfe173e75787848179bb4bc2dad33","comments":"Port
        numbers","c[...]
- request:
    method: get
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml.json?page=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"38350[...]
- request:
    method: get
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml/3ab99865d621045e1f9ef3f477795215.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
 [...]
- request:
    method: post
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/actions.json?service_name=parse-143
    body:
      encoding: UTF-8
      string: '{"command":"service_restart"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ee54b7553501137e3da1cf8d506cec34"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3592'
    body:
      encoding: UTF-8
      string: '{"response":{"id":334488,"user":"tech@nuwe.co","resource_type":"stack","action":"service_restart","resource_id":"31427","started_via":"api","started_at":"2016-06-13T14:10:20Z","finished_at":null,"finished_success":null,"finished_message":null}}'
  recorded_at: Mon, 13 Jun 2016 14:10:20 GMT
recorded_with: VCR 2.9.3
