h1 Unable to connect

p Something did not work. You might have declined permission for us to fetch your health data, or the password to login to #{@strategy} might have been wrong. Please get in touch with us at hello@nuwe.co and let us know what happened.

