---
http_interactions:
- request:
    method: get
    uri: https://api.fitbit.com/1/user/2XBKND/profile.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ff27499b20c3400b8d1cdc30ed2e612b", oauth_nonce="S1DnnGE8uJObvzvlcFk2gZqQelnX9f5VgpG073lE4",
        oauth_signature="7BFXjMdpys8J%2FWqZCLAsDJsY9CA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412261520", oauth_token="dcd012187cadbaac978da8ee16503dcc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '142'
      Fitbit-Rate-Limit-Reset:
      - '425'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"user":{"avatar":"http://www.fitbit.com/images/profile/defaultProfile_100_female.gif","avatar150":"http://www.fitbit.com/images/profile/defaultProfile_150_female.gif","country":"NL","dateOfBirth":"1980-08-01","displayName":"Test","distanceUnit":"METRIC","encodedId":"2XBKND","foodsLocale":"de_DE","fullName":"Test
        Melanie","gender":"FEMALE","glucoseUnit":"METRIC","height":70.86614173228347,"heightUnit":"METRIC","locale":"en_GB","memberSince":"2014-10-02","offsetFromUTCMillis":7200000,"startDayOfWeek":"MONDAY","strideLengthRunning":37.75590551181102,"strideLengthWalking":29.251968503937007,"timezone":"Europe/Amsterdam","waterUnit":"METRIC","weight":176.3,"weightUnit":"METRIC"}}'
  recorded_at: Thu, 02 Oct 2014 14:52:00 GMT
- request:
    method: get
    uri: https://api.fitbit.com/1/user/2XBKND/activities/calories/date/2014-10-02/2014-08-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ff27499b20c3400b8d1cdc30ed2e612b", oauth_nonce="FijWhQC4e5wunHXr7Ws0Hze2u4HjVaSXfKBsbGqj1I",
        oauth_signature="wtxFR3y6ZQvtJkWkVs04K1epck0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412261520", oauth_token="dcd012187cadbaac978da8ee16503dcc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Fitbit-Rate-Limit-Limit:
      - '150'
      Fitbit-Rate-Limit-Remaining:
      - '141'
      Fitbit-Rate-Limit-Reset:
      - '425'
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities-calories":[{"dateTime":"2014-08-03","value":"2200"},{"dateTime":"2014-08-04","value":"2200"},{"dateTime":"2014-08-05","value":"2200"},{"dateTime":"2014-08-06","value":"2200"},{"dateTime":"2014-08-07","value":"2200"},{"dateTime":"2014-08-08","value":"2200"},{"dateTime":"2014-08-09","value":"2200"},{"dateTime":"2014-08-10","value":"2200"},{"dateTime":"2014-08-11","value":"2200"},{"dateTime":"2014-08-12","value":"2200"},{"dateTime":"2014-08-13","value":"2200"},{"dateTime":"2014-08-14","value":"2200"},{"dateTime":"2014-08-15","value":"2200"},[...]
