---
http_interactions:
- request:
    method: get
    uri: http://wbsapi.withings.net/user?action=getbyuserid&oauth_consumer_key=3f2c1d47b88d21e00828e1f825d33d7edc8d68fee3340b4ef2d2cc4546&oauth_nonce=6c9e1bd56dd22e9d6e39a134&oauth_signature=ZIcyYvZ4BHytsp258QxIrZrtxSM=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412090520&oauth_token=6c3089834342cbc61370fe85425639038b12c2388c4eb829318c837&oauth_version=1.0&userid=4767003
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wi-Srv:
      - FR-EQX-WEB-04
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"users":[{"id":4767003,"firstname":"Joost","lastname":"Baaij","shortname":"JOO","gender":0,"fatmethod":3,"birthdate":180054000,"ispublic":0}]}}'
  recorded_at: Tue, 30 Sep 2014 15:22:00 GMT
- request:
    method: get
    uri: http://wbsapi.withings.net/user?action=getbyuserid&oauth_consumer_key=3f2c1d47b88d21e00828e1f825d33d7edc8d68fee3340b4ef2d2cc4546&oauth_nonce=59ee90827a51809f83d25e20d&oauth_signature=HCXUvg7Z78qwlKfUqsjzyEFEwDI=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412090520&oauth_token=6c3089834342cbc61370fe85425639038b12c2388c4eb829318c837&oauth_version=1.0&userid=4767003
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wi-Srv:
      - FR-EQX-WEB-08
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"users":[{"id":4767003,"firstname":"Joost","lastname":"Baaij","shortname":"JOO","gender":0,"fatmethod":3,"birthdate":180054000,"ispublic":0}]}}'
  recorded_at: Tue, 30 Sep 2014 15:22:00 GMT
- request:
    method: get
    uri: http://wbsapi.withings.net/measure?action=getmeas&lastupdate=1412004120&limit=100&oauth_consumer_key=3f2c1d47b88d21e00828e1f825d33d7edc8d68fee3340b4ef2d2cc4546&oauth_nonce=5ff7f4180eceb5ff9a0fab66e&oauth_signature=6pv5vkRxfLB3Rgwlnb/cgvFhGvc=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1412090520&oauth_token=6c3089834342cbc61370fe85425639038b12c2388c4eb829318c837&oauth_version=1.0&offset=0&userid=4767003
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wi-Srv:
      - FR-EQX-WEB-04
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"updatetime":1413200618,"deleted":1,"measuregrps":[{"grpid":264166355,"attrib":0,"date":1412985369,"category":1,"measures":[{"value":96,"type":11,"unit":0}]},{"grpid":264166354,"attrib":0,"date":1412985369,"category":1,"measures":[{"value":94344,"type":1,"unit":-3},{"value":72285,"type":5,"unit":-3},{"value":23381,"type":6,"unit":-3},{"value":22059,"type":8,"unit":-3}]},{"grpid":263750146,"attrib":0,"date":1412894743,"category":1,"measures":[{"value":90,"type":11,"unit":0}]},{"grpid":263750145,"attrib":0,"date":1412894743,"category":1,"measures":[{"value":94706,"type":1,"unit":-3},{"value":72323,"type":5,"unit":-3},{"value":23634,"type":6,"unit"[...]
