---
http_interactions:
- request:
    method: get
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"74b0f175d62a4b57115e194f3de50283"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3589'
    body:
      encoding: UTF-8
      string: '{"response":[{"uid":"7336dffa97ab40c00f156189bd4e206c","comments":"Initial
        Commit","changed_by":"tech@nuwe.co","created_at_iso":"2016-02-03T14:54:46Z","updated_at_iso":"2016-02-03T14:54:46Z"},{"uid":"8f9b7863212bdfa0190123f96ff00b9f","comments":"Adds
        parse service 143 to run on port 1338","changed_by":"tech@nuwe.co","created_at_iso":"2016-02-08T13:06:03Z","updated_at_iso":"2016-02-08T13:06:03Z"},{"uid":"d1b42b35902cb5187aa7e757c36632e9","comments":"port
        setup","changed_by":"tech@nuwe.co","created_at_iso":"2016-02-08T13:50:05Z","updated_at_iso":"2016-02-08T13:50:05Z"},{"uid":"9d0dfe173e75787848179bb4bc2dad33","comments":"Port
        numbers","c[...]
- request:
    method: get
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml.json?page=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c17f6[...]
- request:
    method: get
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml/e1932499e7811ed677567106d08acfe3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"87bb05fcf4767ed107cbfc377989f114"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3587'
    body:
      encoding: UTF-8
      string: '{"response":{"uid":"e1932499e7811ed677567106d08acfe3","comments":"Parse
        208 updated cloud code file","changed_by":"tech@nuwe.co","created_at_iso":"2016-06-17T08:29:43Z","updated_at_iso":"2016-06-17T08:29:43Z","body":"---\nservices:\n  parse:\n    git_url:
        git@github.com:nuwehq/nuwe-parse-server.git\n    git_branch: master\n    ports:\n    -
        container: 1337\n      https: 80\n    env_vars:\n      MONGODB_URL: mongodb://_env(MONGODB_ADDRESS_INT):27017/nuwe_parse_server_production\n      APP_ID:
        W8qSFepvDbmGlUkeFAq6iS1Mkjvvpi1umKgXEsTm\n      APP_NAME: Nuwe-parse-app\n      MASTER_KEY:
        LvYP4MzgF63eENHGg3vpgfk1iucCNjhjVBJTKDQE\n      BUCKET_NAME: parse-app-parse-bucket\n      CERTIFICATE_URI:
        https://developer.nuwe.co/system/doorkeeper/applications/apns_certificates/000/000/199/original/test.pem?1459936745\n      CERTIFICATE_NAME:
        test.pem\n      BUNDLE_ID: com.Myapp.parse\n      NOTIFICATION_PRODUCTION:
        false\n      GCM_SENDER_ID: test_string\n      GCM_API_KEY: test_string\n      CLOUD_CODE_FILE:
        https://developer.nuwe.co/system/doorkeeper/applications/cloud_code_files/000/000/198/original/cloud.js?1463732859\n      SERVER_URL:
        https://parse.nuwe.co:80/par[...]
- request:
    method: post
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/service_yaml.json
    body:
      encoding: UTF-8
      string: '{"service_yaml":"---\nservices:\n  parse:\n    git_url: git@github.com:nuwehq/nuwe-parse-server.git\n    git_branch:
        master\n    ports:\n    - container: 1337\n      https: 80\n    env_vars:\n      MONGODB_URL:
        mongodb://_env(MONGODB_ADDRESS_INT):27017/nuwe_parse_server_production\n      APP_ID:
        W8qSFepvDbmGlUkeFAq6iS1Mkjvvpi1umKgXEsTm\n      APP_NAME: Nuwe-parse-app\n      MASTER_KEY:
        LvYP4MzgF63eENHGg3vpgfk1iucCNjhjVBJTKDQE\n      BUCKET_NAME: parse-app-parse-bucket\n      CERTIFICATE_URI:
        https://developer.nuwe.co/system/doorkeeper/applications/apns_certificates/000/000/199/original/test.pem?1459936745\n      CERTIFICATE_NAME:
        test.pem\n      BUNDLE_ID: com.Myapp.parse\n     [...]
- request:
    method: post
    uri: https://app.cloud66.com/api/3/stacks/3b4f442463ed48e92d94b0783f689f81/deployments.json?services%5B%5D=parse-881
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa85d2961e6cdddb6cce55e41cf7a3d78e8080ac585ee130f9ac3bf5d44cdd7
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3585'
    body:
      encoding: UTF-8
      string: '{"error":"system","error_description":"An unknown error has occurred."}'
  recorded_at: Fri, 17 Jun 2016 11:58:12 GMT
recorded_with: VCR 2.9.3
