<!DOCTYPE html>
<html>
<head>
  <title>Nu</title>
  <%= stylesheet_link_tag    "nu/application", media: "all" %>
  <%= javascript_include_tag "nu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
